@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root{
    --orange: #FEA301;
    --blue: #01ACFD;
    --white: #FFFFFF;
    --whiteBg: #F7F7F7;
    --black: #111111;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: var(--whiteBg);
}

h1, h2, h3{
    font-weight: 700;
}

h4, h5, h6{
    font-weight: 500;
}

a{
    text-decoration: none;
    font-weight: 700;
}

.container {
    max-width: 1160px;
    margin: auto;
}



/* Header CSS Start  */

.header-wrapper {
    padding: 20px 0;
    position: relative;
}


.flex-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 62px;
}

.logo-col {
    flex: 0 0 15%;
}

.logo-wrap a {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 11px;
}

.logo-wrap a span {
	font-size: 20px;
	font-weight: bold;
	color: var(--black);
}

.menu-col {
    flex: 0 0 70%;
}

.header-btn-wrap {
	flex: 0 0 15%;
	text-align: right;
}

ul.nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-menu li:last-child {
	display: none;
}


ul.nav-menu li a {
    color: var(--blue);
	padding: 5px 15px;
	display: block;
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
}

.nav-menu li:first-child a{
	font-weight: 700;
    color: var(--orange);
}

.nav-menu li:nth-child(3) a{
    color: #05D4DF;
}
.nav-menu li:nth-child(4) a{
    color: #5D58EF;
}


a.header-btn {
    background-color: var(--orange);
    padding: 10px 30px;
    display: inline-block;
    text-align: center;
    border-radius: 12px;
    font-weight: 600;
    color: var(--white);
}

input#check {
    display: none;
}


@media (max-width: 1024px) {

    .header-wrapper {
        padding: 12px 0;
        border-bottom: 1px solid var(--orange);
    }

    .container {
        max-width: 100%;
        padding: 0 16px;
    }

    .flex-container {
        min-height: 46px;
    }

    .logo-wrap a img {
        width: 46px;
        height: auto;
    }

    .logo-wrap a span {
        display: none;
    }

    .header-btn-wrap {
        display: none;
    }
    
    .menu-col {
        position: absolute;
        left: 0;
        background-color: var(--white);
        width: 100%;
        top: 0;
        height: 0;
        overflow: hidden;
        transition: all .5s ease-in-out;
        z-index: 0;
    }

    
    .menu-bar label {
        cursor: pointer;
        border: 1px solid #111111;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 7px 10px;
        border-radius: 3px;
        gap: 2px;
    }

    .menu-bar label span {
        display: block;
        height: 3px;
        width: 25px;
        background: #111111;
        margin-bottom: 2px;
    }

    ul.nav-menu {
        flex-direction: column;
        padding: 10px 20px;
    }

    

    .nav-menu li:nth-child(n+1) {
        border-bottom: 1px solid #11111126;
    }
    .nav-menu li:last-child {
        display: block;
        border-bottom: none;
    }
    

   .nav-menu li:last-child a {
        background-color: var(--orange);
        padding: 8px 45px;
        display: inline-block;
        text-align: center;
        border-radius: 12px;
        font-weight: 600;
        color: var(--white);
        margin-left: 15px;
        margin-top: 20px;
        
    }

    .flex-container #check:checked ~ .menu-col {
        height: 100vh;
        top: 101%;
    }


}


/* Hero Section Start  */

.hero-flex-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 50px;
}

.hero-text {
	flex: 0 0 640px;
}

.hero-text-title {
	font-size: 56px;
	font-weight: bold;
	line-height: 61px;
	color: var(--black);
	padding-right: 65px;
}

.hero-text-title .empower {
	color: var(--orange);
}

.hero-text-title .toward {
	color: rgba(1, 172, 253, 1);
}

.hero-text-des {
	font-size: 20px;
	color: var(--black);
	margin: 24px auto;
	font-weight: 500;
}

.hero-text-btn {
	background-color: var(--black);
	padding: 10px 47px;
	border-radius: 12px;
	font-weight: 700;
	color: var(--white);
	display: inline-block;
	font-size: 20px;
	line-height: 30px;
}

.hero-img {
	flex: 0 0 468px;
}

.hero-img img{
	width: 100%;
}


@media (max-width: 1024px) {

    .hero-flex-container {
        gap: 20px;
        flex-direction: column-reverse;
        padding: 20px 0;
    }

    .hero-text {
        flex: 0 0 auto;
        text-align: center;
    }

    .hero-text-title {
        font-size: 32px;
        line-height: 42px;
        padding-right: 0;
    }

    .hero-text-des {
        font-size: 14px;
        margin: 18px auto;
    }

    .hero-text-btn {
        padding: 6px 24px;
        font-size: 16px;
        line-height: 30px;
    }

    .hero-img {
        flex: 0 0 auto;
        padding: 10px;
    }
    
}


/* Curriculum Section Start  */

.curriculum-wrap {
	padding: 80px 0;
	background-image: url("assets/bg.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: top center;
}

.container-heading {
	font-size: 3rem;
	font-weight: bold;
	line-height: 3.5rem;
	color: var(--black);
	text-align: center;
	margin-bottom: 70px;
}

.curriculum-cards-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 29px;
}

.curriculum-card {
	text-align: center;
	border-radius: 18px;
	background-image: linear-gradient(#DEF5FF , #FFFFFF 40%);
	padding: 52px 40px;
	box-shadow: 0px 0px 28.3px 0.5px rgba(0,0,0, 10%);
}


.curriculum-card .curriculum-card-title {
	font-size: 1.5rem;
	font-weight: bold;
	color: #202020;
	margin: 36px 0;
}

.curriculum-card-des {
	font-size: 1rem;
	font-weight: 500;
	color: #808080;
	line-height: 1.8rem;
    margin-bottom: 38px;
}

.curr-read-more {
	font-size: 1rem;
	font-weight: bold;
	color: #64C8FF;
	text-decoration: none;
}

.curr-read-more.elementary-btn {
	color: var(--orange);
}

.curr-read-more.middle-btn {
	color: #8700FF;
}

.elementary{
    background-image: linear-gradient(#FFF4DC , #FFFFFF 40%);
}
.middle{
    background-image: linear-gradient(#EEE1FF , #FFFFFF 40%);
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 80px;
}

.icon-image {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	background-color: var(--orange);
	border-radius: 50%;
	color: var(--white);
}

@media (max-width: 1024px) {

    .curriculum-wrap {
        padding: 40px 0;
    }

    .container-heading {
        font-size: 26px;
        margin-bottom: 20px;
    }

    .curriculum-cards-flex {
        flex-direction: column;
        gap: 13px;
    }

    .curriculum-card {
        text-align: center;
        border-radius: 13px;
        padding: 36px 28px;
    }

    .curriculum-card .curriculum-card-title {
        font-size: 18px;
        margin: 22px 0;
        line-height: 20px;
    }

    .mobile-hide{
        display: none;
    }
}



/* Curriculum Section End */